html, body {
	height: 100%;
}

body {
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	padding: 5px;
	box-sizing: border-box;
}

#background {
	background: linear-gradient(to bottom, #00b7ea 0%, #00FFF6 100%);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#container {
	position: relative;
	z-index: 2;
	background-color: #eeeeee;
	padding: 5px;
	border: 1px solid #333333;
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
	box-sizing: border-box;
}

.gray-bar {
	background-image: url('../img/graybar.png');
	height: 15px;
	width: 50px;
}

.gold-bar {
	background-image: url('../img/goldbar.png');
	height: 15px;
}

#loading-note, #no-results {
	font-weight: bold;
	font-size: 20px;
	padding: 50px;
	text-align: center;
}

#no-results {
	display: none;
}

.rating-cell {
	width: 50px;
	padding: 0 5px;
}

.location-cell {
	width: 75px;
	text-align: center;
}

.genre-cell, .system-cell {
	width: 60px;
	padding: 0 5px;
}

.title-cell {
	padding-left: 15px;
}

#results-table {
	width: 100%;
	padding: 10px;
}

tr.hover {
	background-color: lightblue;
}

.system {
	display: none;
}

#nav {
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	overflow: hidden;
}

.nav-button {
	font-size: 24px;
	display: inline-block;
	padding: 6px;
	cursor: pointer;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	margin-right: 10px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
	transition: all .1s ease;
	background-color: #999999;
}

.selected {
	background-color: #eeeeee;
	box-shadow: 8px 3px 8px rgba(0, 0, 0, 0.7);
}

#games, #login, #add, #chart {
	display: none;
}

#results-count {
	font-weight: bold;
}

.beaten-cell, .seen-cell {
	text-align: center;
}

.form-type-button {
	display: inline-block;
	font-size: 24px;
	background-color: #9bc8cb;
	border: 1px solid black;
	margin: 25px 10px 25px 25px;
	padding: 8px;
	cursor: pointer;
	box-shadow: 0px 9px 25px rgba(0,0,0,.7);
	transition: all .1s ease;
}

.form-type-button.toggled {
	box-shadow: 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
	background-color: teal;
}

.form-field-title-cell {
	text-align: right;
	padding-right: 10px;
}

.add-form {
	display: none;
	float: left;
}

#movies-title-field, #games-title-field, #movies-alphabeticaltitle-field, #games-alphabeticaltitle-field {
	width: 350px;
}

#movies-location-field, #games-location-field {
	width: 100px;
	text-align: center;
}

#movies-rating-field, #games-rating-field, #movies-discs-field, #games-discs-field {
	width: 25px;
	text-align: center;
}

#movies-year-field, #games-year-field {
	width: 50px;
}

#games-system-field {
	width: 150px;
}

#games-genre-field {
	width: 100px;
}

#movies-genre-field {
	width: 205px;
}

#form-errors {
	color: red;
	padding: 15px;
	display: none;
}

#form-success {
	padding: 15px;
	font-weight: bold;
	font-size: 18px;
	display: none;
}

#search-results {
	float: left;
	padding-left: 30px;
	max-width: 410px;
}

.clearfix {
	clear: both;
}

.search-result {
	cursor: pointer;
}

.search-result:hover {
	background-color: lightblue;
}

#login-failure {
	font-weight: bold;
	color: red;
	font-size: 24px;
	font-style: italic;
	display: none;
}

.sort {
	background-repeat: no-repeat;
	padding-left: 15px;
	cursor: pointer;
	background-position: 1px 1px;
}

.down {
	background-image: url("../img/downarrow.png");
}

.mobile-only {
	display: none;
}

#results {
	overflow-y: auto;
	position: absolute;
	top: 120px;
	right: 5px;
	bottom: 5px;
	left: 5px;
}

#chart {
	text-align: center;
}

#dddContainer {
	display: none;
}